<div class="navbar navbar-expand-sm bg-primary navbar-dark mb-3">
  <div class="container">
    <a href="/" class="navbar-brand">Posts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link">
          Trang chủ
          </a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link"> 
          About
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            bài viết
          </a>

          <div class="dropdown-menu">
            <a href="/posts" class="dropdown-item">tất cả bài viết</a>
            <a href="/posts/add" class="dropdown-item">tạo bài viết mới</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>