{{#each posts}}
<div class="card card-body mb-2">
  <h4>{{title}}</h4>
  <p>{{text}}</p>
  <a href="/posts/edit/{{_id}}" class="btn btn-dark btn-block mb-2">Thay đổi</a>
  <form action="/posts/{{_id}}?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="xóa" class="btn btn-danger btn-block">
  </form>
</div>
{{else}}
<p>chưa có bài viết nào</p>
{{/each}}